<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="JZamoraFinalDb" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\Mel-john\Documents\Repos\Design-Project\JZamora\DB Working\DesignFinal.mdf;Integrated Security=True;Connect Timeout=30" />
 </connectionStrings>
</configuration>